<div class="container">
    <div>
      <form style="width: 250px">
        <div style="text-align: center">Member</div>
        <div class="form-control">
          <label> *Name:</label>
          <input />
        </div>
  
        <div class="form-control">
          <label> *Email:</label>
          <input />
        </div>
  
        <div class="form-control">
          <label> *Age:</label>
          <input />
        </div>
  
        <div class="form-control">
          <label> *Tel:</label>
          <input />
        </div>
  
        <div class="form-control">
          <label> *Gender:</label>
          <select>
            <option>male</option>
            <option>female</option>
          </select>
        </div>
        <button>Submit</button>
    </form>
</div>
  
    <div>
  
      <table>
  
        <thead>
  
          <tr>
  
            <th>Name</th>
  
            <th>E-Mail</th>
  
            <th>Tel</th>
  
            <th>Age</th>
  
            <th>Gender</th>
  
        </tr>
    </thead>
  
        <tbody>
        <tr>
            <td>opal</td>
            <td>makara@gmail.com</td>
            <td>0909796926</td>
            <td>18</td>
            <td>male</td>
        </tr>
        </tbody>
    </table> 
    </div>
</div>