<div class="container">
    <div>
      <form style="width: 250px" [formGroup]="formMember">
        <div style="text-align: center">Member</div>
        <div class="form-control">
          <label> *Name:</label>
          <input type="text" formControlName="name"/>
        </div>
  
        <div class="form-control">
          <label> *Email:</label>
          <input type="text" formControlName="email"/>
        </div>
  
        <div class="form-control">
          <label> *Age:</label>
          <input type="text" formControlName="age"/>
        </div>
  
        <div class="form-control">
          <label> *Tel:</label>
          <input type="text" formControlName="tel"/>
        </div>
  
        <div class="form-control">
          <label> *Gender:</label>
          <select formControlName="gender">
            <option>male</option>
            <option>female</option>
          </select>
        </div>
        <button type="submit">Submit</button>
        {{formMember.value | json}}
    </form>
</div>
  
<div>  
    <table>  
        <thead>
  
          <tr>
  
            <th>Name</th>
  
            <th>E-Mail</th>
  
            <th>Tel</th>
  
            <th>Age</th>
  
            <th>Gender</th>
  
        </tr>
    </thead>
  
        <tbody>
        <tr>
            <td>opal</td>
            <td>makara@gmail.com</td>
            <td>0909796926</td>
            <td>18</td>
            <td>male</td>
        </tr>
        </tbody>
    </table> 
    </div>
</div>