.container {
    color: gray;
    border: 1px solid gray;
    margin: 30px;
    padding: 20px;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.form-control {
    display: flex;
    gap: 0.5rem;
}

.form-control label {
    width: 80px;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: darkgray;
    color: white;
}

table th,table td {
    border: 1px solid gray;
    padding: 10px 20px;
}

*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
}


