<div class="container">
    <div>
      <form style="width: 250px" [formGroup]="formMember">
        <div style="text-align: center">Member</div>
        <div class="form-control">
          <label> *Name:</label>
          <input type="text" formControlName="name"/>
        </div>
  
        <div class="form-control">
          <label> *Email:</label>
          <input type="text" formControlName="email"/>
        </div>
  
        <div class="form-control">
          <label> *Age:</label>
          <input type="text" formControlName="age"/>
        </div>
  
        <div class="form-control">
          <label> *Tel:</label>
          <input type="text" formControlName="tel"/>
        </div>
  
        <div class="form-control">
          <label> *Gender:</label>
          <select formControlName="gender">
            <option>male</option>
            <option>female</option>
          </select>
        </div>
        <button (click)="submit()">Submit</button>
   
    </form>
    {{formMember.value | json}}
</div>
  
<div>  
    <table>  
        <thead>
  
          <tr>
  
            <th>Name</th>
  
            <th>E-Mail</th>
  
            <th>Tel</th>
  
            <th>Age</th>
  
            <th>Gender</th>
  
        </tr>
    </thead>
  
        <tbody>
        <tr *ngFor="let item of listMember">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.tel }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.gender }}</td>
        </tr>
        </tbody>
    </table> 
    </div>
</div>